<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-4">
          <p>&copy; {{ site.time | date: '%Y' }} Atomic Photonic Integrated Circuits Laboratory.</p>
          <p>We are part of the <a href="https://www.cense.iisc.ac.in/">Center for Nano Science and Engineering (CeNSE)</a> at <a href="https://www.iisc.ac.in/">Indian Institute of Science</a>.</p>
        </div>

        <div class="col-sm-4">
          Contact:<br />
          Office: Room , APIC Lab: Room<br />
          CeNSE, Indian Institute of Science<br />
          CV Raman Avenue, 560012 Bangalore, India<br />
          (<a href="https://maps.app.goo.gl/4ntUKd77sBokYiZv6">Maps</a>,
          <a href="https://www.iisc.ac.in/about/general-information/how-to-reach-iisc/">Directions</a>)
        </div>

        <div class="col-sm-4">
          Follow us:<br /><br />
          <a href="https://www.linkedin.com/in/abcd" target="_blank" rel="noopener noreferrer" style="font-size: 28px; margin-right: 12px; color: #0077b5;">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.youtube.com/abcd" target="_blank" rel="noopener noreferrer" style="font-size: 28px; color: #ff0000;">
            <i class="fab fa-youtube"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
