<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6">
			
		  <p>&copy {{ site.time | date: '%Y' }}  Atomic Photonic Integrated Circuits Laboratory. 
              <p>We are part of the <a href="https://www.cense.iisc.ac.in/">Center for Nano Science and Engineering (CeNSE)</a> at <a href="https://www.iisc.ac.in/">Indian Institute of Science</a>.</p>
            

		   <p>  </p><p>
            		  
            
		
		</div>
		<div class="col-sm-6">
		  Contact:<br />
		  
		  CeNSE, Indian Institute of Science<br />
    
		  CV Raman Avenue, 560012 Bangalore, India (<a href="https://maps.app.goo.gl/4ntUKd77sBokYiZv6">Maps</a>, <a href="https://www.iisc.ac.in/about/general-information/how-to-reach-iisc/">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
